.sc-visual{
    padding-top: 95px;
}
.sc-visual .swiper{
    position: relative;
}
.sc-visual .swiper .swiper-slide .img-container,.sc-visual .swiper .swiper-slide .video-container{
    height: calc(100vh - 95px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sc-visual .swiper .swiper-slide .img-container img , .sc-visual .swiper .swiper-slide .video-container video{
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.sc-visual .swiper .swiper-slide.left .img-container img{
    width: 130%;
    max-width: none;
    transition: 5s;
}
.sc-visual .swiper .swiper-slide-active.left .img-container img{
    transform: translatex(10%);
}
.sc-visual .swiper .swiper-slide.up .img-container img{
    height: 130%;
    max-width: none;
    transition: 5s;
}
.sc-visual .swiper .swiper-slide-active.up .img-container img{
    transform: translatey(10%);
}
.sc-visual .swiper .swiper-slide .text-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Noto Sans KR' , sans-serif;
}
.sc-visual .swiper .swiper-slide .text-area .sub-title{
    font-size: 24px;
    font-weight: 700;
}
.sc-visual .swiper .swiper-slide .text-area .title{
    font-family: 'BM Hanna 11yrs Old',sans-serif;
    font-size: clamp(45px,3.75vw,72px);
    padding: 74px 0 80px 0;
}
.sc-visual .swiper-slide .text-area .title .typo{
    display: flex;
    justify-content: center;
}
.sc-visual .swiper-slide .text-area .title .typo span{
    min-width: 2vw;
    opacity: 0;
}
.sc-visual .swiper-slide-active .text-area .title .typo span{
    opacity: 1;
    transition: 1s;
}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(1){ transition-delay:0.1s ;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(2){ transition-delay: 0.2s ;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(3){ transition-delay: 0.3s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(4){ transition-delay: 0.4s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(5){ transition-delay: 0.5s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(6){ transition-delay: 0.6s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(7){ transition-delay: 0.7s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(8){ transition-delay: 0.8s;}
.sc-visual .swiper-slide-active .text-area .title .typo span:nth-child(9){ transition-delay: 0.9s;}
.sc-visual .swiper .swiper-slide .text-area .btn-go{
    font-size: 20px;
    font-weight: 700;
}
.sc-visual .pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: absolute;
    width: 92px;
    bottom: 50px;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
}
.sc-visual .swiper-pagination-bullet{
    background-color: hsla(0,0%,100%,.5);
    opacity: 1;
}

.sc-visual .swiper-pagination-bullet-active  {
    width: 20px;
    background: #fff;
    border-radius: 4px;
}
.sc-story{
    padding-top: 160px;
}
.sc-story .headline{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}
.sc-story .text-area{
    margin-bottom: 60px;
    text-align: center;
}
.sc-story .swiper .swiper-wrapper{
    transition-timing-function: linear;
    padding: 50px 0;

}
.sc-story .swiper .swiper-slide{
    position: relative;
    width: 180px;
    height: 245px;
}
.sc-story .swiper .swiper-slide:nth-child(2n){
    transform: translateY(-50px);
}
.sc-story .swiper .swiper-slide .img-container{
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
}
.sc-story .swiper .swiper-slide .img-container:after{
    content: "";
    display: block;
    background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.5));
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.sc-story .swiper .swiper-slide .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.sc-story .swiper .swiper-slide:hover img{
    transform: scale(1.1);
}
.sc-story .swiper .swiper-slide .title{
    position: absolute;
    bottom:15px;
    max-height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    display: -webkit-box;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    word-wrap: break-word;
    padding: 0 12px;
}
.sc-vision{
    padding: 160px 0;
    text-align: center;
}
.sc-vision .headline{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
}
.sc-vision .desc{
    margin-bottom: 80px;
    line-height: 1.75;
}
.sc-vision .video-container{
    position: relative;
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.sc-vision .video-container .btn-control{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.sc-vision .video-container .btn-control .play{
    display: none;
}
.sc-vision .video-container:hover .btn-control{
    display: block;
}
.sc-vision .video-container .btn-control.on .stop{
    display: none;
}
.sc-vision .video-container .btn-control.on .play{
    display: block;
}
.sc-green{
    position: relative;
    height: 680px;
}
.sc-green .bg{
    background: url(../images/sc-green/bg-season.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
}
.sc-green .content{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
}
.sc-green .content .green-logo{
    width: 120px;
    margin: 0 auto;
}
.sc-green .content .headline{
    margin: 20px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
}
.sc-green .content .img-container{
    display: inline-block;
    margin: 0 auto;
}
.sc-green .content .desc{
    margin: 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}
.sc-news{
    padding: 120px 0;
}
.sc-news .headline{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}
.sc-news .group-news{
    max-width: 820px;
    margin: 0 auto;
}
.sc-news .group-news .news-list .news-item{
    border-bottom: 1px solid #f3f4f5;
    padding: 40px 20px;
}
.sc-news .group-news .news-list .news-item a{
    display: flex;
}
.sc-news .group-news .news-list .news-item:hover{
    background-color: rgba(243,244,245,.5);
}
.sc-news .group-news .news-list .news-item .thumb-container{
    width: 200px;
    height: 160px;
    margin-right: 40px;
    overflow: hidden;
}
.sc-news .group-news .news-list .news-item:hover .thumb-container .thumb{
    transform: scale(1.1);
}
.sc-news .group-news .news-list .news-item .thumb-container .thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.sc-news .group-news .news-list .news-item .text-area .title{
    max-height: 64px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.6;
    display: -webkit-box;
    color: #232324;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 700;
}
.sc-news .group-news .news-list .news-item .text-area .date{
    color: #a6a7a9;
    font-size: 14px;
    line-height: 1.7;
}
.sc-news .group-news .news-list .news-item .text-area .desc{
    max-height: 52px;
    margin-bottom: 10px;
    line-height: 1.625;
    display: -webkit-box;
    color: #232324;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sc-news  .btn-view-more{
    display: flex;
    margin: 40px auto 0;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 0 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    vertical-align: top;
    border-radius: 8px;
    background-color: #f3f4f5;
}
.sc-fonts{
    padding: 120px 0 136px;
    background-color: #232324;
    color: #fff;
    text-align: center;
}
.sc-fonts .headline{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
}
.sc-fonts .desc{
    margin-bottom: 60px;
}
.sc-fonts .swiper-wrapper{
	transition-timing-function: linear;
}

.sc-fonts .swiper-slide{
    position: relative;
    width: 160px;
    height: 128px;
    padding: 16px;
    border-radius: 8px;
    background: #37373a;
    margin: 0 8px;
}
.sc-fonts .swiper-slide svg{
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 45px;
}
.sc-fonts .btn-view-more{
    margin: 60px auto 0;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.3);
    height: 52px;
    padding: 0 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    vertical-align: top;
    border-radius: 8px;
}


@media (max-width:980px) {
    .sc-visual{
        padding-top: 63px;
    }
    .sc-visual .swiper .swiper-slide .text-area .sub-title{
        font-size: 16px;
        white-space: nowrap;
    }
    .sc-visual .swiper .swiper-slide .text-area .title{
        padding: 50px 0;
        white-space: nowrap;
    }
    .sc-visual .swiper .swiper-slide .text-area .btn-go{
        font-size: 16px;
    }
    .sc-visual .swiper .swiper-slide .img-container, .sc-visual .swiper .swiper-slide .video-container{
        height: calc(100vh - 63px);
    }
    .sc-story{
        padding-top: 120px;
    }
    .sc-story .text-area{
        padding: 0 24px;
    }
    .sc-story .headline{
        font-size: 30px;
    }
    .sc-vision{
        padding: 120px 0 0 0;
    }
    .sc-vision .headline{
        font-size: 30px;
        padding: 0 24px;
    }
    .sc-vision .desc{
        padding: 0 24px;
        word-break: keep-all;
    }
    .sc-green .content{
        padding: 0 24px;
    }
    .sc-green .bg{
        position: fixed; 
        background: url(../images/sc-green/bg-season.jpg);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;            
        background-position: center center; 
        z-index: -1;
        background-size: cover;
    }
    .sc-green .content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    .sc-news .group-news .news-list .news-item .text-area .title{
        font-size: 16px;
    }
    
    .sc-fonts .headline{
        font-size: 30px;
    }

    .sc-news .headline{
        font-size: 30px;
        padding: 0 24px;
        word-break: keep-all;
    }

    .sc-news .group-news .news-list{
        margin: 0 20px;
    }
    .sc-news .group-news .news-list .news-item{
        padding: 30px 0;
    }
    .sc-news .group-news .news-list .news-item .text-area{
        flex: 1;
    }
    .sc-news .group-news .news-list .news-item .thumb-container{
        width: 100px;
        height: 80px;
        margin-right: 16px;
    }
    .sc-news .group-news .news-list .news-item .text-area .date{
        font-size: 12px;
    }
}
